<%- include('../templates/header') -%>
<div class="row">
    <div class="col-md-2">
        <%- include('../templates/leftnav') -%>
    </div>
    <div class="col-md-8">
        <center><h4><%= hd %> </h4></center>
        <div class="row">
            <div class="col-md-3">
                <h6>Users</h6>
                <p>Summary of Users  </p>
                <strong><h8>10</h8></strong>
                <p><a class="btn btn-secondary" href="/users" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-3">
                <h6 >Cities </h6>
                <p>Regions|Countries and Cities </p>
                <h8>200</h8>
                <p><a class="btn btn-secondary" href="/cities" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-3">
                <h6>Customer</h6>
                <p>Summary of Customers.</p>
                <h8>5</h8>
                <p><a class="btn btn-secondary" href="/customers" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-3">
                <h6>Products</h6>
                <p>Summary of Products.</p>
                <h8>5</h8>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-3">
                <h6>Profile</h6>
                <p>Add profile  </p>
                <strong><h8>10</h8></strong>
                <p><a class="btn btn-secondary" href="/addprofile" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-3">
                <h6>View Profile </h6>
                <p>View saved profile </p>
                <h8>200</h8>
                <p><a class="btn btn-secondary" href="/profile" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-3">
                <h6>Customer</h6>
                <p>Summary of Customers.</p>
                <h8>5</h8>
                <p><a class="btn btn-secondary" href="/customers" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-3">
                <h6>Products</h6>
                <p>Summary of Products.</p>
                <h8>5</h8>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-2">
<%- include('../templates/rightnav') -%>
    </div>
</div>
<div class="footer" >
    <<%- include ('../templates/footer'); -%>
</div>