<%- include('../templates/header') -%>
    <div class="row">
        <div class="col-md-2">
            <%- include('../templates/leftnav') -%>
        </div>
        <div class=
    <div class="col-md-2">
        <center><h2><%= hd %>  </h2></center>
        <div class="standard-wrapper">
                <div>
                    <h1><%= title%></h1>
                    <h2> <%= hd %></h2>
                </div>
                <div class="header-form">
                    <h2><a href="/listproducts" >List products</a></h2>
                </div>

        </div>
    </div>
    <div class="col-md-2">
        <%- include('../templates/rightnav') -%>
    </div>
</div>
<div class="footer" style="border-color: blue; height: 10px; width: auto; margin: 2px;">
    <%- include('../templates/footer') -%>
</div>
